.slider {
    width: 80%;
}

.slide_container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#guess_display{
    color: red;
    text-align: center;
}

#btnGuess{
    margin: 0 auto;
    display: block;
    font-size: x-large;
}

#rectangle {
    margin-left: 10%;
    width: 80%;
    height: 2em;
    background-color: green;
}

#rectangle1 {
    margin-left: 10%;
    width: 0%;
    height: 2em;
    background-color: red;
}

#rectangle2 {
    width: 0%;
    height: 2em;
    margin-right: 10%;
    background-color: red;
}

#btnRestart {
    margin: 0 auto;
    display: block;
    font-size: x-large;
}

#info {
    text-align: center;
}